.chat-main
  .main-header
    .header-left
      .header-left-group
        = @group.name
      .header-left-member
        Member:
        - @group.users.each do |user|
          = user.name
              
    .header-right
      = link_to edit_group_path(@group), class: "edit-btn" do
        edit
  .main-contents
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form-mask
        = f.text_field :content, class: 'form-message', placeholder: 'type  a message' 
        = f.label :image, class: 'form-mask-image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input'
      = f.submit 'Send', class: 'form-submit'