.side
.chat-side
  .side-header
    .header-name
      %h3.name-text 
        = current_user.name
      %ul.icon-list
        %li.list-left
          = link_to new_group_path, class: "left-form btn" do
            = icon("far fa-edit", class: "left-icon")
        %li.list-right
          = link_to edit_user_path(current_user.id), class: "right-form btn" do
            = icon("fas fa-cog", class: "right-icon")
  .group
    - current_user.groups.each do |group|
      .group-message
        = link_to group_messages_path(group), class: "btn" do
          .group-message-name
            = group.name
          .group-message-text
            = group.show_last_message
